$small  : 40rem; /* 640px */
$medium : 64rem; /* 1024px */
$large  : 90rem; /* 1440px */
$retina : 120rem; /* 1920px */

@mixin bp($screen) {
  @if $screen == s {
    @media screen and (max-width: $small) { @content; }
  }

  @else if $screen == sd {
    @media screen and (max-width: $small) { @content; }
  }

  @else if $screen == su {
    @media screen and (min-width: $small + 0.0625rem) { @content; }
  }

  @else if $screen == m {
    @media screen and (min-width: $medium) and (max-width: $medium + 0.0625rem) { @content; }
  }

  @else if $screen == md {
    @media screen and (max-width: $medium) { @content; }
  }

  @else if $screen == mu {
    @media screen and (min-width: $medium + 0.0625rem) { @content; }
  }

  @else if $screen == l {
    @media screen and (min-width: $large) and (max-width: $large + 0.0625rem) { @content; }
  }

  @else if $screen == ld {
    @media screen and (max-width: $large) { @content; }
  }

  @else if $screen == lu {
    @media screen and (min-width: $large + 0.0625rem) { @content; }
  }

  @else if $screen == r {
    @media screen and (min-width: $retina) and (max-width: $retina + 0.0625rem) { @content; }
  }

  @else if $screen == rd {
    @media screen and (max-width: $retina) { @content; }
  }

  @else if $screen == ru {
    @media screen and (min-width: $retina + 0.0625rem) { @content; }
  }
}
