$white: #ffffff;
$black: #171717;

$dejante : #8E8EF4;
$darkenDejante : #130084;

$ambiance: #4033C1;
$darkenAmbiance: #8e8ef4;

$tranquille : #3D38E8;
$darkenTranquille : #130084;

$calme : #130084;
$darkenCalme : #8e8ef4;
