#map {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 80px);
  z-index: 2;
  transition: all 0.3s ease;

  &.ng-hide {
    top: 100vw;
  }

  .back-btn {
    color: $black;
    font-weight: 600;
    background-color: $white;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 3vh;
    top: 3vh;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: darken($white, 3);
    }
  }

  .map-inner {
    height: 100% !important;

    .gm-style-iw {
      top: 0 !important;
      left: 0 !important;
      padding: 0.5rem;
      background-color: $white;
      box-shadow: none;
      border: solid 4px $calme;

      h3 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
      }
    }
  }
}
