<section id="statistiques">
  <div class="ct-chart"></div>
  <!-- <svg id="chart"></svg> -->
  <aside class="legend">
    <ul>
      <li class="dejante" ng-click="filter($event)">Déjanté</li>
      <li class="ambiance" ng-click="filter($event)">Ambiancé</li>
      <li class="tranquille" ng-click="filter($event)">Tranquille</li>
      <li class="calme" ng-click="filter($event)">Calme</li>
    </ul>
  </aside>
  <nav class="weeks">
    <ul>
      <li>du 02/11 au 08/11</li>
      <li>du 09/11 au 15/11</li>
      <li>du 16/11 au 22/11</li>
      <li class="active">du 23/11 au 29/11</li>
    </ul>
  </nav>
</section>
